@media (max-width: 768px) {
    header nav {
        display: none;
    }

    .hero-section {
        text-align: center;
    }

    .hero-text, .hero-text p, .hero-text h2 {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    .touristing-button{
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;
        font-size: 1.5em;
        padding: 0.6em;
    }

    .touristing-button img {
        width: 3em;
    }

    .content > img {
        display: none;
    }

    .value-section{
        display: flex;
        flex-direction: column;
    }

    .value-section #problem {
        border-right: 0;
        border-bottom: 3px dotted var(--main-text);
    }

    #problem p {
        margin-bottom: 5%;
    }

    .planning-section div {
        padding: 10% 5%;
    }

    .reasons-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .reasons-section img {
        max-width: 100%;
        margin-top: 1.5em;
    }

    .reasons-content > p {
    padding: 1.2em 0;
    }

    .reasons-content div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .reasons-content div p i {
        padding: 0.4em;
    }

    footer .footer-menu p {
        display: none;
    }

    footer .footer-menu, footer .attribution {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5em;
    }

    .footer-menu nav {
        border-top: 1px solid #ffffff;
        padding-top: 1.2em;
    }

    footer .attribution {
        display: flex;
        flex-direction: column-reverse;
    }

    footer img {
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    p {
        font-size: 1.2em;
    }
    
    .hero-section {
        background: transparent;
    }

    .hero-text h2 {
        font-size: 4.5em;
    }

    .hero-section p {
        line-height: 120%;
    }

    .touristing-button{
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;
        font-size: 2em;
        padding: 0.6em;
    }

    .hero-text .touristing-button {
        font-size: 1.5em;
    }
    
    .planning-section .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .reasons-content div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    
    .reasons-content div p i {
        padding: 5px 5px 5px 0;
    }

    .catching-section p{
        font-size: 1.5em;
    }

    .catching-section .touristing-button {
        font-size: 1.5em;
    }
}