@media (max-width: 768px) {
    header nav {
        display: none;
    }

    .hero-section {
        text-align: center;
    }

    .hero-text p, .hero-text h2 {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    .content > img {
        display: none;
    }

    .value-section{
        display: flex;
        flex-direction: column;
    }

    .value-section #problem {
        border-right: 0;
        border-bottom: 3px dotted var(--main-text);
    }

    #problem p {
        margin-bottom: 5%;
    }

    .planning-section div {
        padding: 10% 5%;
    }
}

@media (max-width: 425px) {
    .hero-section {
        background: transparent;
    }

    .hero-text h2 {
        font-size: 4.5em;
        line-height: 100%;
    }

    .hero-text button {
        font-size: 1.2em;
    }
    
    .planning-section .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}