:root {
    --main-text: #073064;
    
    --title-green: #60cb32;
    --hover-green: #369c00;
    --title-blue: #0097b2;
    --hover-blue: #087d92;
    --background-1: #f1f1f1;

    --logo-font: 'League Spartan', sans-serif;
    --title-font: 'League Gothic', sans-serif;
    --main-font: 'Hanken Grotesk', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    border: 0;
    cursor: pointer;
}

a, i {
    cursor: pointer;
    text-decoration: none;
}

body {
    font-size: 14px;
    font-family: var(--main-font);
    color: var(--main-text);
}
h2, h3 {
    font-family: var(--title-font);
    color: var(--title-green);
    line-height: 90%;
    font-size: 5em;
    font-weight: 500;
}

h3 {
    line-height: 100%;
    font-size: 4em;
}

p {
    font-size: 1.5em;
    font-weight: bold;
}

.blue-span {
    color: var(--title-blue)
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header div {
    display: flex;
    align-items: center;
}

header div h1 {
    font-family: var(--logo-font);
    font-size: 1.3rem;
    border-left: 2px dotted var(--title-blue);
    padding: 3px 10px;
    color: var(--title-green);
    letter-spacing: 1.75px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a{
    text-wrap: wrap;
    padding: 0 2rem;
    color: var(--main-text);
    font-weight: bold;
    font-size: 1.3em;
}

#login-icon {
    font-size: 3rem;
    margin-left: 10px;
}

#menu-icon {
    font-size: 1.5rem;
}

.hero-section {
    background-image: url('../assets/img/praia-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5% 5% 0 5%;
}

.hero-section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding: 5% 8%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
    margin-right: 10%;
}

.hero-text p {
    font-weight: bold;
    font-size: 1.5em;
}

.touristing-button {
    background-color: var(--title-green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em;
    border-radius: 100px;
    width: 100%;
}

.touristing-button:hover {
    background-color: var(--hover-green);
    transition: 0.6s;
}

.touristing-button img {
    width: 4em;
    padding: 0.3em;
}

.hero-section img {
    max-width: 50%;
}

.value-section {
    background-color: var(--background-1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%; 
}

.value-section div {
    padding: 5%;
}

.value-section p {
    margin-top: 1.5em;
}

.value-section #problem {
    border-right: 3px dotted var(--main-text);
}

.planning-section {
    text-align: center;
    padding: 5% 10%;
}

.planning-section div {
    padding: 5%;
}

.planning-section div h3 {
    padding: 5% 0;
}

.planning-section h2 {
    font-size: 6em;
}

.grid-planning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blue-icon, .green-icon {
    color: #ffffff;
    background-color: var(--title-green);
    padding: 1rem 1.2rem;
    font-size: 2.2rem;
    border-radius: 100%;
}

.blue-icon {
    background-color: var(--title-blue);
}

.blue-title {
    color: var(--title-blue);
}

.reasons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    background-color: var(--background-1);
}

.reasons-content div p {
    display: flex;
    align-items: center;
}

.reasons-content > p {
    padding: 1.2em 3em 1.2em 0;
}

.reasons-content div p i {
    font-size: 2em;
    padding: 5px;
    color: var(--title-green);
}

.reasons-section img {
    max-width: 50%;
    border-radius: 10px;
}

.catching-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
    padding: 5% 10%;
}

.catching-section p {
    font-size: 2em;
}

.catching-section .touristing-button {
    font-size: 2em;
    margin-top: 0.5em;
}

footer {
    background-color: var(--title-green);
    color: #ffffff;
    padding: 0 10%;
}

footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding: 2em 0;
}

.footer-menu p {
    max-width: 15vw;
}

.footer-menu nav {
    padding: 0 3em;
}

.footer-menu nav ul li {
    padding-bottom: 10px;
}

.footer-menu nav ul li a {
    text-decoration: underline;
    font-size: 1.25em;
    color: #ffffff;
    flex-wrap: nowrap;
}

footer .attribution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    font-size: 0.8em;

}

footer .attribution span {
    display: flex;
    align-items: center;
}

footer .attribution span p {
    font-weight: 400;
}

footer .attribution span a {
    color: #ffffff;
    font-size: 2.5em;
    margin-left: 10px;
}

footer img {
    max-width: 30%;
}

/* detail page */

.menu-section {
    padding: 3% 10% 0 10%;
}

.menu-section nav ul {
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.menu-section nav ul li {
    flex: 0 0 auto;
    width: 225px;
}

.menu-section nav ul::-webkit-scrollbar {
    display: none;
}

.menu-section nav ul li button {
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
    font-size: 1.2em;
    background-color: var(--main-text);
    text-align: center;
    padding: 1.2em;
    border-radius: 100px;
    width: 100%;
    scroll-snap-align: start;
}

.trips-sections {
    padding: 5% 10%;
}

.grid-trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    margin: 5% 10%;
}

.card > img {
    width: 100%;
    border-radius: 10px;
}

.card p {
    font-weight: 400;
    font-size: 1.1em;
}

.card p i {
    color: var(--title-green);
    padding: 0.5em 0.5em 0.5em 0;
}

.card h3, .card .card-price {
    font-family: var(--main-font);
    color: var(--main-text);
    font-weight: bold;
}

.card h3 {
    font-size: 2em;
}

.card .card-price {
    font-size: 2.1em;
}

.card .touristing-button {
    margin-top: 0.7em;
}